/* Basic Bar Graph */
.graph { 
  position: relative; /* IE is dumb */
  width: 200px; 
  border: 1px solid #B1D632; 
  padding: 2px; 
  margin-bottom: 0.3em;					
}
.graph .bar { 
  display: block;	
  position: relative;
  background: #B1D632; 
  text-align: center; 
  color: #333; 
  height: 1.2em; 
  line-height: 1.2em;									
}
.graph .bar span { position: absolute; left: 1em; } /* This extra markup is necessary because IE does not want to follow the rules for overflow: visible */	       

.graph_table .graph_bar {width: 200px;}
.graph_table .graph_text {padding: 0 0 0 5px;}
/* Basic Bar Graph ends */